<table style="border:none; width:100%;">
{% for post in filtered_posts %}
{% unless post.draft %}
    <tr style="height: 4.5em;">
        <td style="text-align:left"><a href="{{ post.url }}" class="blog-title">{{ post.title }}</a></td>
        <td style="text-align:right"><em>posted on {{ post.date | date: '%B %d, %Y' }}</em></td>
    </tr>
    <tr>
        <td colspan="2" {% if post.rtl %}style="dir: rtl;"{% endif %}>
        {{ post.content | strip_html | truncatewords: 30 }}
        </td>
    </tr>
{% endunless %}
{% endfor %}
</table>

