{% for post in filtered_posts %}
{% unless post.draft %}

<div class="preview">
    <table><tr>
    <td {% if post.rtl %}dir="rtl"{% endif %}>
    <a href="{{ post.url }}" class="title">{{ post.title }}</a>
    {% if post.date %}
    <span class="datebox">{{ post.date | date: '%B %d, %Y' }}</span>
    {% endif %}
    <span class="text">
    {{ post.content | strip_html | truncatewords: 50 }} <a href="{{ post.url }}">read more</a>
    </span>
    </td>
    {% if post.imageurl %}
    <td>
    <img src="{{post.imageurl}}" class="postimage" />
    </td>
    {% endif %}
    </tr></table>
</div>

{% endunless %}
{% endfor %}
