
.icon-github:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-emo-happy:before { content: '\e80e'; } /* '' */
.icon-emo-wink:before { content: '\e804'; } /* '' */
.icon-emo-wink2:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-rss:before { content: '\e807'; } /* '' */
.icon-linkedin:before { content: '\e808'; } /* '' */