
.icon-mail-alt:before { content: '\e803'; } /* '' */
.icon-rss-squared:before { content: '\e802'; } /* '' */
.icon-github-squared:before { content: '\e800'; } /* '' */
.icon-twitter-squared:before { content: '\e801'; } /* '' */
.icon-linkedin-squared:before { content: '\e80b'; } /* '' */
.icon-facebook-squared-1:before { content: '\e809'; } /* '' */