body {
    font-family: 'Cantarell', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #1f1f1f;
    background: white;
    padding: 0px;
    margin: 0px;
}

code, pre {
    font-family: 'Ubuntu Mono', monospace;
}

pre {
    text-align: left;
    padding: 5px 0px 8px 10px;
    background: #fff;
    overflow-x: auto;
    border: none;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    text-align: left;
}

a, a:active, a:visited, a:link {
    color: #086782;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

a:hover {
    color: #ED9D13;
}

a img {
    border: none;
}

img {
    max-width: 100%;
}


/************************************************************************************************/


div#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    width: 300px;
    margin: 0;
    padding: 50px 0 0 40px;
    font-family: 'Open Sans', sans-serif;
}

#logobox {
    padding-bottom: 30px;
}

#logobox a {
    color: #1f1f1f;
}

#sitename {
    font-family: 'Telex', sans-serif;
    font-size: 44px;
    letter-spacing: -2px;
    display: block;
}

#tagline {
    border-left: 2px solid #ccc;
    color: #ccc;
    padding: 10px 0 0px 12px;
    display: none;
}

div.menuitem {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
}

div.menuitem a {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
}

#navigation div.menuitem {
    padding: 8px 0 8px 8px;
    border: none;
    border-left: 2px solid #5D5D5D;
}

#navigation div.menuitem a {
    font-size: 18px;
    color: #1f1f1f;
    border: none;
}

#navigation div.menuitem:hover {
    border-left: 2px solid #ED9D13;
    padding-left: 12px;
}

#navigation div.menuitem:hover a {
    color: #ED9D13;
}

#recent {
    font-size: 12px;
    padding: 30px 0 0 0;
    color: #ccc;
}

#recent #recent-title {
    color: #ccc;
    padding: 4px 0 4px 10px;
    font-weight: bold;
    border-left: 2px solid #ccc;
}

#recent div.menuitem {
    border: none;
    border-left: 2px solid #ccc;
    padding: 6px 0 6px 10px;
}

#recent div.menuitem a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: none;
    text-overflow: ellipsis;
}

#recent div.menuitem:hover a {
    color: #086782;
    padding: 6px 0 6px 14px;
    border-left: 2px solid #086782;
}

#recent span.datebox {
    font-style: italic;
    float: right;
    padding-left: 4px;
    display: none;
}

#social {
    position: fixed;
    left: 27px;
    bottom: 60px;
    list-style-type: none;
    margin:4px 0 0 0;
    padding: 12px 0 0 13px;
}

#social a { 
    border: none;
}

#social a img {
    padding: 7px 12px 5px 12px;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    -ms-transition: 0.1s ease;
    transition: 0.1s ease;
}

#social a:hover img {
    padding: 3px 12px 9px 12px;
}


/************************************************************************************************/


#main {
    position: absolute;
    left: 400px;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    border-left: 2px solid #ddd;
}

div.article-box {
    width: auto;
    position: relative;
    padding: 40px 40px 20px 40px;
    border: none;
    border-bottom: 1px solid #eee;
}

div.article-text {
    min-width: 100px;
    max-width: 700px;
    text-align: justify;
}

#content img.blog-post-image {
    float: right;
    max-width: 250px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#content[dir="rtl"] img.blog-post-image {
    float: left;
    padding-right: 20px;
    padding-left: 0;
}

#footer {
    font-size: 14px;
}


/************************************************************************************************/


@media only screen and (max-width:1150px)
{
    div#sidebar {
        width: 280px;
        padding: 50px 0 0 20px;
    }

    div#main {
        left: 300px;
    }

    div.article-text {
        max-width: 100%;
    }
    
    div.social {
        left: 0px;
    }
}

@media only screen and (max-height:770px)
{
    div.social {
        bottom: 0px;
    }
}

@media only screen and (max-height:670px)
{
    div.recent {
        display: none;
    }
    div.social {
        bottom: 60px;
    }

}

@media only screen and (max-height:520px)
{
    div.social {
        display: none;
    }
}

@media print, handheld, only screen and (max-width:700px), only screen and (max-device-width: 700px)
{
    body {
        font-family: 'PT Serif', serif;
        font-size: 16px;
    }

    div.recent {
        display: none;
    }
    div.social {
        display: none;
    }
    
    div#sidebar {
        position: relative;
        width: auto;
        padding: 20px 0 10px 0;
        border-bottom: 2px solid #ddd;
    }

    div#main {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        border: none;
    }
    
    div.article-box {
        width: auto;
        position: relative;
        padding: 20px 10px 40px 10px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    div.menu {
        text-align: center;
    }
    
    div.menu a {
        display: inline;
        border: none;
        border-left: 1px solid #ddd;
        padding: 0 3px 0 3px;
        line-height: 2em;
    }

    div.menu a:last-child {
        border-right: 1px solid #ddd;
    }

    div.menu a:hover {
        border-left: 1px solid #ddd;
        padding: 0 3px 0 3px;
    }

    div.social {
        display: none;
    }

    div#logobox {
        padding: 10px 0 10px 0;
        text-align: center;
    }

    #sitename {
        font-size: 30px;
        display: inline;
        padding-left: 20px;
    }
    
    div#logobox img {
        width: 70px;
    }
}
