body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #1f1f1f;
    padding: 0px;
    margin: 0px;
    background-color: #f8f8f8;
}

code, pre {
    font-family: 'Ubuntu Mono', monospace;
}

pre {
    text-align: left;
    padding: 5px 0px 8px 10px;
    background-color: white;
    overflow-x: auto;
    border: none;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

strong {
    font-weight: 600;
}

p code {
    background-color: #e5e5e5;
}

a, a:active, a:visited, a:link {
    color: #086782;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

a:hover {
    color: #ED9D13;
}

a img {
    border: none;
}


/************************************************************************************************/


#sidebar {
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    min-height: 100%;
    width: 350px;
    margin: 0;
    padding: 50px 10px 0 40px;
    font-family: 'Source Sans Pro', 'Trebuchet MS', sans-serif;
}

#logobox {
    padding-bottom: 30px;
}

#logobox a {
    border: none;
}

#logobox a {
    color: #1f1f1f;
}

#sitename {
    font-family: 'Telex', sans-serif;
    font-size: 44px;
    letter-spacing: -3px;
    display: block;
    text-shadow: 1px 1px 3px #ccc; 
}

#tagline {
    border-left: 2px solid #ccc;
    color: #ccc;
    padding: 10px 0 0px 12px;
    display: none;
}

div.menuitem {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
}

div.menuitem a {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
    border: none;
    display: block;
}

#navigation div.menuitem {
    padding: 8px 0 8px 8px;
    border-left: 2px solid #5D5D5D;
}

#navigation div.menuitem a {
    font-size: 18px;
    color: #1f1f1f;
}

#navigation div.menuitem a.selected {
    font-weight: bold;
}

#navigation div.menuitem:hover {
    border-left: 2px solid #ED9D13;
    padding: 8px 0 8px 12px;
}

#navigation div.menuitem:hover a {
    color: #ED9D13;
}

/***/

#recent {
    font-size: 12px;
    padding: 30px 0 0 0;
    color: #ccc;
}

#recent div.menuitem a {
    color: #ccc;
}

#recent #recent-title {
    padding: 4px 0 4px 10px;
    font-weight: bold;
    border-left: 2px solid #ccc;
}

#recent div.menuitem {
    border-left: 2px solid #ccc;
    padding: 6px 0 6px 10px;
}

#recent div.menuitem:hover {
    border-left: 2px solid #086782;
    padding: 6px 0 6px 14px;
}

#recent div.menuitem a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: none;
    text-overflow: ellipsis;
}

#recent div.menuitem:hover a {
    color: #086782;
}

#recent span.datebox {
    font-style: italic;
    float: right;
    padding-left: 4px;
    display: none;
}

/***/

#social {
    position: fixed;
    left: 27px;
    bottom: 30px;
    list-style-type: none;
    margin:4px 0 0 0;
    padding: 12px 0 0 13px;
}

#social a { 
    border: none;
}

#social a img {
    padding: 7px 12px 5px 12px;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    -ms-transition: 0.1s ease;
    transition: 0.1s ease;
}

#social a:hover img {
    padding: 3px 12px 9px 12px;
}


/************************************************************************************************/


#main {
    position: absolute;
    left: 400px;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100px;
    max-width: 800px;
    border-left: 2px solid #ddd;
    /*border-right: 2px solid #ddd;*/
}

#content {
    padding: 40px 40px 40px 85px;
    text-align: justify;
}

#content h1, #content h2, #content h3, #content h4, #content h5 {
    font-family: 'Source Sans Pro', 'Trebuchet MS', sans-serif;
    text-align: left;
    color: #232;
    text-shadow: 0px 0px 2px #CCC;
}

#content[dir="rtl"] h1, #content[dir="rtl"] h2, #content[dir="rtl"] h3, #content[dir="rtl"] h4, #content[dir="rtl"] h5 {
    text-align: right;
}

#content #content a h1, #content a h2, #content a h3, #content a h4, #content a h5 {
    border: none;
}

#content img {
    max-width: 100%;
}

#main div.section {
    width: 100%;
    padding: 10px 0 20px 0; 
    border-bottom: 1px solid #eee;
}

#main div.comments {
    float: right;
}

#main span.datebox {
    font-size: 12px;
    display: block;
}

#main img.blog-post-image {
    float: right;
    max-width: 250px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#content[dir="rtl"] img.blog-post-image {
    float: left;
    padding-right: 20px;
    padding-left: 0;
}

#footer {
    display: none;
    position: absolute;
    bottom: 0;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    padding: 0 40px 10px 40px;
}

#main a.button {
    display: block;
    text-transform: lowercase;
    background: #ddd;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#main a.button:hover {
    background: white;
    border: 2px solid #ED9D13;
}

#main hr {
    border: 1px inset #DDD;
}

/************************************************************************************************/

#main blockquote {
    background: #F8F8DF;
    padding: 1px 40px;
    margin: 0;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

#main highlight {
    background: #EAEDF3;
}

#main .notebox {
    background: #EAEDF3;
    padding: 10px 40px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}


/************************************************************************************************/


@media only screen and (max-width:1150px)
{
    #sidebar {
        width: 280px;
        padding: 50px 0 0 20px;
    }

    #main {
        left: 300px;
        max-width: 100%;
    }
    
    #content {
        padding: 40px 40px 40px 60px;
    }
    
    #sidebar #social {
        left: 0px;
    }
}

@media only screen and (max-height:730px)
{
    #sidebar #social {
        bottom: 0px;
    }
}

@media only screen and (max-height:640px)
{
    #sidebar #recent {
        display: none;
    }
    #sidebar #social {
        bottom: 30px;
    }

}

@media only screen and (max-height:490px)
{
    #sidebar #social {
        display: none;
    }
}

@media print, handheld, only screen and (max-width:700px), only screen and (max-device-width: 700px)
{
    body {
        font-size: 16px;
    }

    #sidebar #recent {
        display: none;
    }
    #sidebar #social {
        display: none;
    }
    
    #sidebar {
        position: relative;
        width: auto;
        padding: 20px 0 10px 0;
        border-bottom: 2px solid #ddd;
    }

    #main {
        position: static;
        border: none;
    }

    #main blockquote {
        padding: 1px 20px;
    }
    #main .notebox {
        padding: 1px 20px;
    }
    
    #content {
        width: auto;
        padding: 20px 10px 40px 10px;
    }

    #navigation {
        text-align: center;
    }

    #navigation div.menuitem {
        display: inline;
        border: none;
        border-left: 1px solid #ddd;
        padding: 0 3px 0 3px;
        line-height: 2em;
    }

    #navigation div.menuitem a {
        display: inline;
    }
    
    #navigation div.menuitem:last-child {
        border-right: 1px solid #ddd;
    }

    #navigation div.menuitem:hover {
        border-left: 1px solid #ddd;
        padding: 0 3px 0 3px;
    }

    #logobox {
        padding: 10px 0 10px 0;
        text-align: center;
    }

    #sitename {
        font-size: 30px;
        display: inline;
        padding-left: 20px;
    }
    
    #logobox img {
        width: 70px;
    }
    
    #content img.blog-post-image {
        /*max-width: 100%;*/
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}
