---
layout: default
section: blog
comments: true
feed_link: http://tomerfiliba.com/blog/atom.xml
---

{{ content }}

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5219102357e1471d"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'right',
      'services' : 'facebook,twitter,google_plusone_share,email,more'
    }
  });
</script>
<!-- AddThis Smart Layers END -->
