---
layout: nil
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Tomer Filiba" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->  
    
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="canonical" href="http://tomerfiliba.com{{page.url}}" />
    <link rel="stylesheet" href="/static/css/theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/syntax.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/fontello.css" type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Telex|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/css/fontello-ie7.css">
    <![endif]-->

    {% if page.feed_link %}
        {% assign feed_link = page.feed_link %}
    {% else %}
        {% assign feed_link = "/atom.xml" %}
    {% endif %}
    
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ feed_link }}" />

    {% if page.description %}
    <meta name="description" content="{{ page.description | escape }} by Tomer Filiba" />
    {% else %}
    <meta name="description" content="Tomer Filiba's homepage and blog" />
    {% endif %}

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21128099-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>
    <div id="sidebar-wrapper">
        <div id="sidebar">
            <div id="logobox">
                <a href="http://tomerfiliba.com/" title="home" style="border:0;">
                <img id="sitelogo" src="/static/logos/fish-logo.png"/>
                <div id="sitename">tomer filiba</div></a>
            </div>
            <div id="short-tagline">Pythonista</div>
            <div id="social-wrapper">
                <table id="social">
                    <tr>
                    <td><a href="http://goo.gl/y9Rwe0" title="open source" class="icon-github"></a></td>
                    <td><a href="http://goo.gl/jbL7fX" title="twitter" class="icon-twitter"></a></td>
                    <td><a href="http://goo.gl/uZuisr" title="linkedin" class="icon-linkedin"></a></td>
                    <td><a href="{{feed_link}}" title="rss feed" class="icon-rss"></a></td>
                    <td><a href="mailto:contact@tomerfiliba.com" title="contact me" class="icon-mail"></a></td>
                    </tr>
                </table>
            </div>  
            <div id="tagline">
                low-level python hacker and author of <a href="/">RPyC</a>, 
                <a href="/">Construct</a> and <a href="/">Plumbum</a>. writes about python, algorithms, 
                software architecture and whatever else comes to mind.
            </div>
            <div id="menu-wrapper">
                <div id="menu">
                    <a href="http://tomerfiliba.com/blog" {% if page.section == "blog" %}class="current"{% endif %}><div class="expander"></div>blog</a>
                    <a href="http://tomerfiliba.com/about" {% if page.section == "about" %}class="current"{% endif %}><div class="expander"></div>about</a>
                    <a href="http://tomerfiliba.com/projects" {% if page.section == "projects" %}class="current"{% endif %}><div class="expander"></div>projects</a>
                    <a href="http://tomerfiliba.com/recipes" {% if page.section == "recipes" %}class="current"{% endif %}><div class="expander"></div>recipes</a>
                    <a href="http://tomerfiliba.com/etc" {% if page.section == "etc" %}class="current"{% endif %}><div class="expander"></div>etc</a>
                </div>
            </div>
            <div id="recent">
                <div id="recent-title">recent posts</div>
                <div id="recent-content">
		            {% for p in site.posts limit: 30 %}
		            {% unless p.draft %}
    		            <a href="http://tomerfiliba.com{{p.url}}" title="/{{p.categories | first}}"><div class="expander"></div>{{p.title}}</a>
		            {% endunless %}
		            {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="content-wrapper">
        <div id="content" {% if page.rtl %}dir="rtl"{% endif %}>

            {% if page.title %}
            <h1>{{page.title}} <div class="datebox">{{ page.date | date: '%B %d, %Y' }}</div></h1>
            {% endif %}
            
            {% if page.imagelink %}<a href="{{page.imagelink}}" style="display: inline;">{% endif %}
            {% if page.imageurl %}<img src="{{page.imageurl}}" title="{{page.imagetitle}}" style="{{page.imagestyle}}" class="blog-post-image" />{% endif %}
            {% if page.imagelink %}</a>{% endif %}
            
            {{ content }}

            {% if page.comments %}
            {% unless page.draft %}
            <div class="section">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'tomerfiliba'; // required: replace example with your forum shortname
            
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the 
            <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
            {% endunless %}
            {% endif %}

            <div id="footer">
            {% unless page.hidefooter %}
                Content published under 
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
                <img title="Creative Commons Attribution-ShareAlike 3.0 Unported License" alt="Creative Commons Attribution-ShareAlike 3.0 Unported License" style="border: none;" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png"></a>
            {% endunless %}
            </div>

        </div>
    </div>
</body>
</html>